<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h3>USD Exchange Rate</h3>
      <!-- <p>{{ exchangeRate.result }}</p> -->
      <p>Last Update: {{ exchangeRate.time_last_update_utc }}</p>

      <table class="table table-success table-striped">
        <thead>
          <tr>
            USD :
            {{
              exchangeRate.conversion_rates.USD
            }}
          </tr>
          <tr>
            <th>Currency</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="table-active"
            *ngFor="
              let conversionRate of exchangeRate.conversion_rates | keyvalue
            "
          >
            <td>{{ conversionRate.key }}</td>
            <td>{{ conversionRate.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
